body{

  font-family: 'Open Sans', sans-serif;
 /* background-image: linear-gradient(to right,rgb(0, 0, 0),rgb(0, 0, 0),rgb(3, 2, 2),rgb(26, 13, 13),rgb(47, 2, 2) );
  */
  border:1px solid white;
  background: #0f1219;
}

header{
  margin-left:10%;
  width: 10%;
  background-color:transparent;
  color:rgb(109, 48, 48);
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}
.info{
  margin-left: 5%;
  min-width: 200px;
  width:40%;
  background-color: transparent;
  margin-top:50px;
}
.box{
  min-width:200px;
  right:10px;
  top:150px;
  width:50%;
  height:300px;
  position: absolute;
  background-color: transparent;
}
label {
  color:white;
  padding:30px;
}
.info ul li{
  color:rgb(106, 112, 126);
}
.group1,.group2{
  color:192A56;
  border:2px solid white;
}
span{
  padding: 2px;
  color:rgb(95, 23, 23);
  clear: right;
}
input{
  height:30px;
  padding-top:3px;
  width:99%;
  border:none;
  opacity:0.6;
  color:white;
  background:transparent;
  font-size: 20px;
  border-top:1px solid wheat;
}

input::-webkit-input-placeholder{
  color:white;
  font-size:20px;
}

button{
  margin-left: 40%;
  padding:10px;
  background-color:blanchedalmond;
  color:#192A56;
  font-size: 20px;
  box-shadow: 3px 3px 3px black;
  cursor: pointer;
  
}
h1{
  
  color: white;
}
p{
  color: white;
  background: transparent;
}
