body{

   font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(to right, red ,orange ,yellow ,green,indigo,violet);
  opacity: 0.6;
}
header{
  margin-left: auto;
  width:300px;
  background-color: white;
  color:black;
  font-weight: 400;
  font-size: 30px;
}
.info{
  width:40%;
  background-color: white;
}
.box{
  right:10px;
  top:150px;
  width:50%;
  height:300px;
  position: absolute;
  background-color: rgba(25,10,20,0.2);
}
label {
  color:white;
  padding:30px;
}
.group1{
  color:blue;
  border:2px solid white;
}
input{
  height:30px;
  width:50%;
  opacity:0.2;
}
input::-webkit-input-placeholder{
  color:white;
  font-size:20px;

}
.group2 {
  color:blue;
  border:2px solid white;
}
button{
  padding:20px;
  background-color:Green;
  color:blue;
  font-size: 20px;
  box-shadow: 2px 3px 4px black;
}
